<h1>Device Pricing</h1>
<hr>
<ul>
    <% for (let i=0;i<priceList.iPhone.length;i++){ %>
        <li><%= priceList.iPhone[i][0] %></li>
            <ul>
                <li><%= priceList.iPhone[i][1] %></li>
                <li><%= priceList.iPhone[i][2] %></li>
                <li><%= priceList.iPhone[i][3] %></li>
                <li><%= priceList.iPhone[i][4] %></li>
                <li><%= priceList.iPhone[i][5] %></li>
                <li><%= priceList.iPhone[i][6] %></li>
                <li><%= priceList.iPhone[i][7] %></li>
                <li><%= priceList.iPhone[i][8] %></li>
                <li><%= priceList.iPhone[i][9] %></li>
                <li><%= priceList.iPhone[i][10] %></li>
            </ul>
   <% } %>
</ul>
<hr><hr>
<ul>
    <% for (let i=0;i<priceList.Samsung.length;i++){ %>
        <li><%= priceList.Samsung[i][0] %></li>
            <ul>
                <li><%= priceList.Samsung[i][1] %></li>
                <li><%= priceList.Samsung[i][2] %></li>
                <li><%= priceList.Samsung[i][3] %></li>
                <li><%= priceList.Samsung[i][4] %></li>
                <li><%= priceList.Samsung[i][5] %></li>
                <li><%= priceList.Samsung[i][6] %></li>
                <li><%= priceList.Samsung[i][7] %></li>
                <li><%= priceList.Samsung[i][8] %></li>
                <li><%= priceList.Samsung[i][9] %></li>
                <li><%= priceList.Samsung[i][10] %></li>
            </ul>
   <% } %>
</ul>